<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDPkktmf8mP1Ocg5BnxAtE4bdhgIUWMOcs</string>
	<key>GCM_SENDER_ID</key>
	<string>914170332121</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.sabhailteDubin</string>
	<key>PROJECT_ID</key>
	<string>sabhailte-dublin</string>
	<key>STORAGE_BUCKET</key>
	<string>sabhailte-dublin.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:914170332121:ios:b7581d2b6db68940ed0fc8</string>
</dict>
</plist>
